/*/====================================================================================
==================================== CSS MUSIQUE ======================================
=====================================================================================/*/

header {
    height: 60px;
    color: red;
    width: 100vw;
}

#bouttone {
    background-color: orange;
    color: rgb(51, 9, 78);
    font-weight: normal;
}

#Ibody {
    background-color: whitesmoke;
    color: black;
}

thead {
    background-color: rgb(51, 24, 87);
    color: white;
}


/*/==========================================================================================
===================================== CSS VOITURES ==========================================
==========================================================================================/*/

#xthead {
    background-color: rgb(163, 19, 79);
    color: white;
}